{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel", "babel-plugin-styled-components"]
}
