{
  "extends": "airbnb",
  "rules": {
    "semi": [2, 'always'],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "before": "readonly",
    "after": "readonly",
    "beforeAll": "readonly",
    "afterAll": "readonly",
    "fetch": 'readonly',
    "document": 'readonly'
  }
}
