<!DCOTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1">
    <title>Han's url shortener</title>
		<link rel="stylesheet" href="/styles/style.css">
    <script defer type="text/javascript" src="/scripts/createOriginalUrl.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to Han's URL shortener</h1>
      </header>
      <div class="inputPanel">
        <div>Orignal Url: </div>
        <input class="input" type="text" id="originalUrl"></input>
        <input class="button" type="submit" onclick="createOriginalUrl()">
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
